body{
    width: 33%;
    margin-left: auto;
    margin-right: auto;
}
#res{
    background-color: lightgray;
    border: solid;
    height: 48px;
    font-size: 20px;
}
#btn0, #btn1{
    background-color: lightgreen;
    color: brown;
}
#btnClr, #btnEql {
    background-color: darkgreen;
    color: white;
}
#btnSum, #btnSub, #btnMul, #btnDiv{
    background-color: black;
    color: red;
} 
#btns button{
    width: 25%;
    height: 36px;
    font-size: 18px;
    float: left;
    border:.5px solid white;
    margin: 0px;    
}
#btns{
    width: 100%;
}
#container{
    background-color: lightgray;
    border: solid lightgray;
    height: 125px;
}
@media screen and (max-width:600px) {
    body{
        width: 90%;
    }
    
}